body {
  color: #999;
  font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0;padding:0;
  overflow:hidden;
}
textarea{
  width:100%
  height:100px;
  resize: none;
  margin:0;
  padding:0;
}
