extends ../layouts/default

block content
	h1 known bugs
	ul
		li "A facebook attól függően dönti el hogy a felugró ablak merre legyen, hogy hol fér el, lefelé kezd, viszont kb félúton már nem fér el a +doboz. De még nem fordítja felfelé"
	p send me any other bugs via fb
