extends layouts/default

block content
	form
		textarea(id='commentbox',name='comment')=items.comment
		input(name='uid',type='hidden',value=req.uid)
		input(name='ownid',type='hidden',value=req.ownid)
