extends layouts/default

block content
    h1 facebook friend comments
    p
      - if (!req.isAuthenticated())
          a(href="/auth/facebook", title="Login") Login
      a(href="app.user.js") Download extension
