extends layouts/default

block content
    h1 facebook friend comments
    p
      - if (!req.isAuthenticated())
          a(href="/auth/facebook", title="Login") Login
      ol
        li
            a(href="app.user.js") Download extension
        li navigate to about:extensions
        li drag'n'drop the downloaded extension to this panel
        li enjoy.

