extends layouts/default

block content
    h1 Facebook friend comments
    p
      - if (!req.isAuthenticated())
          a(href="/auth/facebook", title="Login") Login
      - else
          a(href="/list", title="List") List
          &nbsp;&bull;&nbsp;
          a(href="/logout", title="Logout") Logout
    h2 Chrome
    ol
      li
          a(href="app.user.js") Download extension
      li navigate to about:extensions
      li drag'n'drop the downloaded extension to this panel
      li enjoy.

    h2 Firefox
    ol
      li
          a(href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/") Download greasemonkey
      li
          a(href="app.user.js") Download the extension
      li enjoy.
    h2 Any other browser
    ol
      li well.. you can download
        a(href="http://www.mozilla.org/en-US/firefox/new/") Firefox
        &nbsp;or&nbsp;
        a(href="https://www.google.com/intl/en/chrome/browser/") chrome

    footer
            a(href="/privacy") Pricacy policy
            &nbsp;&bull;&nbsp;
            a(href="/status") Status of service
            &nbsp;&bull;&nbsp;
            a(href="/about") About
            &nbsp;&bull;&nbsp;
            a(href="/bugs") Bugs
